# Dependencies
node_modules/
dist/

# Env & Secrets
.env
.env.local
.env*.local
*.json
!package.json
!package-lock.json
!vercel.json
service-account.json

# Local DB
*.db
*.db-journal
*.db-wal
*.db-shm

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Local Netlify folder
.netlify
